#main-page{

  display:flex;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


#main-page > div{
  width: 100%;
  background-color: #30303b;

  flex-direction:row;
  display:flex;
}
img{
  width: 200px;
}

#child1{
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: white !important;
}
#child2 {
  display: flex;
  flex:1;
  flex-direction: column !important;
}

#child3{
  flex:4
  display: flex;
  flex:1;
  flex-direction: column !important;
}
.div-container{
  flex-basis: 100%;
  color: white;
  flex-direction:row;
  display: flex;
  align-items: center;
}
.div-container div{
  flex: 1;
  text-align: center;
}
.div-container input{
  flex: 4;

}
.container {
  flex-basis: 100%;
  display: flex;
}
.container button{
  padding: 20px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}
input{
  margin: 1rem;
  padding: 5px;
  font-size: 14px;
}
